<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BibtexManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BibtexManager.Properties.Settings>
            <setting name="TexEditorProcName" serializeAs="String">
                <value>texworks</value>
            </setting>
            <setting name="RecentLib" serializeAs="String">
                <value />
            </setting>
            <setting name="EnglishBookItemFormat" serializeAs="String">
                <value>{author} ({year}). {title}. {publisher}: pp. -.</value>
            </setting>
            <setting name="EnglishArticleItemFormat" serializeAs="String">
                <value>{author} ({year}). {title}. {journal}. {volume} ({number}): pp. {pages}.</value>
            </setting>
            <setting name="NonEnglishBookItemFormat" serializeAs="String">
                <value>{author}：《{title}》，{publisher}，{year}年：第-页。</value>
            </setting>
            <setting name="NonEnglishArticleItemFormat" serializeAs="String">
                <value>{author}：{title}，《{journal}》，{year}（{number}）：第{pages}页。</value>
            </setting>
            <setting name="DefaultSearchEngine" serializeAs="String">
                <value>scholar.google.com/scholar?q={0}</value>
            </setting>
        </BibtexManager.Properties.Settings>
    </userSettings>
</configuration>